# Gradle & Android build
.gradle/
build/
app/build/
local.properties
*.apk
*.aab
*.ap_
captures/
.externalNativeBuild
.cxx/

# IntelliJ & Android Studio
.idea/
*.iml
.shelf/
android.iml

# OS files
.DS_Store
Thumbs.db

# Xcode & Apple
*.xcuserstate
xcuserdata/
*.xcscmblueprint
DerivedData/
